.react-bs-table table td,
.react-bs-table table th {
  overflow: initial !important;
  white-space: pre-line !important;
  word-wrap: break-word;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(128, 129, 132, 0.12);
}

.borderless td,
.borderless th {
  border: none !important;
}

.react-bs-container-body tr {
  border-top-style: hidden !important;
}

.react-bs-container-header tr {
  border-bottom-style: hidden !important;
}