input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.9) !important;
}

::-ms-clear,
 ::-ms-reveal {
    display: none;
}

.callout-info {
    background-color: rgb(84, 110, 122);
    border-color: rgb(53, 95, 115);
}

.callout-info .text-muted {
    color: #adb9c1 !important;
}